* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #88a09f;
}


.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    font-family: 'calibri';
    color: white;
    box-shadow: 5px 13px 37px #000;
}

.registration-form-title {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: solid 1px #1f53c5;
    font-size: 18px;
    color: white;
}

.form-register li {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    list-style: square;
}

.form-register p, a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.botton {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0 ;
    font-size: 19px;
    cursor: pointer;
    text-transform: uppercase;
}

.botton:hover {
    background: linear-gradient(to bottom, hsl(252, 92%, 51%), hsl(241, 81%, 54%))
}

.dev {
    text-align: center;
    margin-top: 30px;
    color: black;
}

@media screen and (max-width: 480px){
    .form-register{
        margin: 15px auto;
        width: 320PX;

    }
}